{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock %}


{% block content %}
<div class="containe">
    <div class="cart shadow p-5 my-3 text-center">
      {% if confirmation %}
        <h1>{% trans "Confirm Email Address" %}</h1>
        {% user_display confirmation.email_address.user as user_display %}
        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">{% trans 'Confirm' %}</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
