{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="containe">
    <div class="cart shadow p-5 my-3 text-center">
      <h1>{% trans "Change Password" %}</h1>
          <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
              {% csrf_token %}
              {{ form|crispy}}
              <input type="submit" name="action" value="{% trans 'change password' %}" class='btn btn-success' />
          </form>
    </div>
  </div>
{% endblock %}
