{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="containe">
    <div class="cart shadow p-5 my-3 text-center">
      <h1>{% trans "Change Password" %}</h1>
      <p>{% trans 'Your password is now changed.' %}</p>
      <div class="container">
        <a class='btn btn-success' href="{% url 'account_login' %}">Sign In</a>
      </div>
    </div>
  </div>
{% endblock %}
